<section layout="column" flex class="md-whiteframe-z1" style="margin:21px; width: 100%; display: flex;" layout-padding ng-controller="homeController as vm">
    <div style="background-image: url('img/bg.jpg'); height: 520px; -webkit-background-size: cover;
         -moz-background-size: cover; -o-background-size: cover; background-size: cover;" layout="row"
         layout-align="center center" layout-padding>
        <div layout class="md-whiteframe-3dp" style="background-color:rgba(0, 0, 0, 0.5);" flex="80">
            <div layout="column" layout-align="center center">
                <p style="color: white; font-size: 48px; font-family: 'Open Sans', sans-serif; font-weight: 700">
                    Welcome to HighGround
                </p>
                <div layout layout-align="center center">
                    <p style="color: white; font-size: 24px; font-family: 'Open Sans', sans-serif; font-weight: 500" flex="85">
                        The first competitive collegiate Fortnite platform. Join our solo and duo leagues and compete
                        to make a name for yourself and your univeristy!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <md-toolbar class="md-hue-3" style="min-height: 40px; background-color:rgb(131,131,131);">
    </md-toolbar>
    <div layout="column" style="background-color:rgb(52,90,180);">
        <div layout="row" layout-align="center center">
            <p style="color: white; font-size: 40px; font-family: 'Open Sans', sans-serif; font-weight: 500">
                Features
            </p>
        </div>
        <div layout="row" layout-padding layout-align="center center">
            <div layout flex="20" flex-offset="9">
                <div layout="column" layout-align="center center">
                    <md-icon md-svg-src="img/monitor.svg" style="height: 40px; width: 40px; color: #ffffff;"></md-icon>
                    <div layout="column" layout-align="center center">
                        <p style="color: white; font-size: 15px; font-family: 'Open Sans', sans-serif;
                            font-weight: 900; margin-bottom: 0px;">
                            Automated Match Tracking
                        </p>
                        <p style="color: white; font-size: 13px; font-family: 'Open Sans', sans-serif;">
                            Automated match tracking removes the need to enter codes or submit vods.
                            All match stats are tracked.
                        </p>
                    </div>
                </div>
            </div>
            <div layout flex="20" flex-offset="5">
                <div layout="column" layout-align="center center">
                    <md-icon md-svg-src="img/people.svg" style="height: 40px; width: 40px; color: #ffffff;"></md-icon>
                    <div layout="column" layout-align="center center">
                        <p style="color: white; font-size: 15px; font-family: 'Open Sans', sans-serif;
                            font-weight: 900; margin-bottom: 0px;">
                            Solo and Duo League
                        </p>
                        <p style="color: white; font-size: 13px; font-family: 'Open Sans', sans-serif;">
                            Participate in our competitive solo and duo leagues. All universities are
                            welcome to participate!
                        </p>
                    </div>
                </div>
            </div>
            <div layout flex="20" flex-offset="5">
                <div layout="column" layout-align="center center">
                    <md-icon md-svg-src="img/network.svg" style="height: 40px; width: 40px; color: #ffffff;"></md-icon>
                    <div layout="column" layout-align="center center">
                        <p style="color: white; font-size: 15px; font-family: 'Open Sans', sans-serif;
                            font-weight: 900; margin-bottom: 0px;">
                            Lag Compensation
                        </p>
                        <p style="color: white; font-size: 13px; font-family: 'Open Sans', sans-serif;">
                            All countdowns have auomatic lag compensation to ensure that all countdowns are
                            synchronized.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <md-toolbar class="md-hue-3" style="min-height: 40px; background-color:rgb(131,131,131);">
    </md-toolbar>
    <div layout="row" layout-padding style="background-color:rgb(51, 51, 51);">
        <div layout="column" flex="30">
            <p style="color: white; font-size: 12px; font-family: 'Open Sans', sans-serif; margin-bottom: 0px;">
                Copyright 2019, HighGround
            </p>
            <p style="color: white; font-size: 12px; font-family: 'Open Sans', sans-serif; margin-top: 1px">
                Fortnite is a registered trademark of Epic Games.
            </p>
        </div>
        <div layout="column" flex="50" flex-offset="20">
            <p style="color: white; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 900; margin-bottom: 0px;">
                Any questions or suggestions? Contact:
                <a href="mailto: support@highgroundfn.com" style="color: #54c3ff">support@highgroundfn.com</a>
            </p>
        </div>
    </div>
</section>